.App {
  text-align: center;
}

.image {
  width: 80px;
}

.nav-items-group > * {
  margin: 0 5px;
}

.App-header, nav {
  background-color: #222;
  padding: 20px;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav > * {
  display: flex;
  align-items: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.question-teaser-link {
  text-decoration: none;
  color: initial;
}

.question-teaser {
  border: 1px solid black;
  margin: 10px;
  list-style: none;
}
