.App {
  text-align: center;
}

.App-logo {
  width: 80px;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.right > * {
  margin: 0 5px;
}

.App-header, nav {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
